<div class="container responsivegrid" id="{{id}}">
  <div id="container-99d779a4e6" 
       class="cmp-container cmp-container--{{variant}} 
       cmp-container--width-{{maxWidth}} cmp-container--padding-{{padding}}
       border-radius--{{borderRadius}} {{#if border}}cmp-container--border{{/if}}"
       >
  <div class="title cmp-title--heading-01">
  <div
    data-cmp-data-layer="{&quot;title-c6fe1860ab&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/title&quot;,&quot;dc:title&quot;:&quot;Title&quot;}}"
    id="title-c6fe1860ab"
    class="cmp-title"
  >
    <h1 class="cmp-title__text">Headings – Heroes, full width page heads</h1>
  </div>
  </div>
  <div class="text cmp-text--body-02">
    <div data-cmp-data-layer="{&quot;text-e58d65c472&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>&quot;}}" id="text-e58d65c472" class="cmp-text">
      <p>You’ve worked hard to get where you are. But you know that there’s more to do. We can help. We’ll partner with you to come up with solutions for your financial life that can help elevate your wealth potential.</p>
    </div>
  </div>
  </div>
</div>

