<div class="cmp-form-text cmp-form-text--{{variant}}">
    <label for="form-text-1948726228">{{formlabel}}</label>
    <textarea maxlength={{maxlength}} class="cmp-form-text__textarea" data-cmp-hook-form-text="input" id="form-text-1948726228" placeholder="{{placeholder}}" name="textarea" rows="6" aria-describedby="form-text-1948726228-helpMessage">{{text}}</textarea>
</div>