<div class="image cmp-image--{{cornerRadius}} {{#if teaserLogo}}cmp-image--teaserLogo{{/if}}">
  <div data-cmp-src="{{#if source}}{{source}}{{/if}}{.width}.jpeg" data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc" id="image-d54ae90061" data-cmp-data-layer="{&quot;image-d54ae90061&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;dc:title&quot;:&quot;Lava flowing into the ocean&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&quot;,&quot;repo:modifyDate&quot;:&quot;1970-01-01T00:00:00Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&quot;}}}" data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
      <img class="cmp-image__image" src="{{#if source}}{{source}}{{/if}}" {{#if styles}}style="{{styles}}"{{/if}} alt="{{#if altText}}{{altText}}{{/if}}" title="{{#if titleText}}{{titleText}}{{/if}}">
    <meta itemprop="caption" content="Lava flowing into the ocean">
  </div>
</div>
