<div class="{{variation}} theme-aon">
    <div class="modal-content-wrapper">
    <div class="fe-modal fe-show-modal" id="fe-modal-fe-program-fees">
        <div class="fe-modal-content">
            <div class="fe-modal-header">
                <h4 class="fe-modal-header__text"><span class="fe-modal-fees-title-wrapper">A low-cost way to get expertise.</span></h4>
                <span class="fe-modal-header__close fe-modal-toggle-fe-program-fees">×</span>
            </div>
            <div class="fe-clearfix">
                <div class="fe-modal-body  ">
                <div class="fe-modal-body__content">
                    <div class="fe-modal-fees-content-wrapper">
                        <div class="fe-fees">
                            <div>
                            <ul class="fe-fees__bullets">
                                <li class="fe-fees__bullet"><b>Low annual rate of no more than {{highestFeeRate}}.</b> Discounts may apply for larger balances.</li>
                                <li class="fe-fees__bullet"><b>Discounted through {{sponsor}}.</b> That's about {{lowerThanIndustrialPercent}} less than what you might pay on your own elsewhere.*</li>
                                <li class="fe-fees__bullet"><b>Paid from your {{sponsor}} account(s).</b> There's no impact on your take-home pay.</li>
                                <li class="fe-fees__bullet"><b>Cancel anytime.</b> You're not locked into any long-term commitments.</li>
                            </ul>
                            <div class="fe-fees__heading">
                                Vanguard Managed Account Professional Management Fees
                            </div>
                            <div class="fe-fees__table-wrapper">
                                <table class="fe-fees__table" width="100%">
                                    <tbody>
                                        <tr>
                                        <th class="fe-fees__td fe-fees__td--1">Portion of Account</th>
                                        <th class="fe-fees__td fe-fees__td--2">Annual Rate</th>
                                        <th class="fe-fees__td fe-fees__td--3">Monthly Amount</th>
                                        </tr>
                                        <tr>
                                        <td class="fe-fees__td fe-fees__td--1">Up to $60,000</td>
                                        <td class="fe-fees__td fe-fees__td--2">0.10%</td>
                                        <td class="fe-fees__td fe-fees__td--3"><strong>$5.00</strong> per $60,000</td>
                                        </tr>
                                        <tr>
                                        <td class="fe-fees__td fe-fees__td--1">Between $60,000 &amp; $120,000</td>
                                        <td class="fe-fees__td fe-fees__td--2">0.05%</td>
                                        <td class="fe-fees__td fe-fees__td--3"><strong>$2.50</strong> per $60,000</td>
                                        </tr>
                                        <tr>
                                        <td class="fe-fees__td fe-fees__td--1">Over $120,000</td>
                                        <td class="fe-fees__td fe-fees__td--2">0.01%</td>
                                        <td class="fe-fees__td fe-fees__td--3"><strong>$0.50</strong> per $60,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="fe-fees__disclaimers">
                                <div class="fe-fees__disclaimer">
                                    Vanguard Managed Account Program fees are charged in the frequency and manner detailed in the {{ privacyPolicy }}, and are deducted directly from your account.
                                </div>
                                <div class="fe-fees__disclaimer">*The industry average is based on reporting in PriceMetrix's, "The State of North American Retail Wealth Management, 10th Annual Report" which found that based on PriceMetrix's proprietary database (as of the end of 2020 was comprised of detailed client-holdings and transaction information from roughly 70,000 financial advisors), the average fee in 2020 for accounts with assets between $1M and $1.5M was 1.05%. For the same asset range, the 2019 average fee was 1.05% and the 2018 average fee was 1.06%. Industry average fees are subject to change. Investment Advisor services vary, and some advisors in the studies may provide different services than Vanguard Advisors, Inc. The report is available <a href="https://www.mckinsey.com/industries/financial-services/our-insights/making-choices-finding-growth-state-of-north-american-retail-wealth-management" target="_blank">here</a>. 
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="fe-modal-footer">
                <p class="fe-text-right"><a class="fe-modal-footer__close fe-button fe-modal-toggle-fe-program-fees">Close</a></p>
                <p>
                </p>
            </div>
        </div>
    </div>
    <div class="fe-modal" id="fe-modal-fe-form-error">
        <div class="fe-modal-content">
            <div class="fe-modal-header">
                <h4 class="fe-modal-header__text"><span class="fe-modal-form-error-title-wrapper">Error</span></h4>
                <span class="fe-modal-header__close fe-modal-toggle-fe-form-error">×</span>
            </div>
            <div class="fe-clearfix">
                <div class="fe-modal-body  ">
                <div class="fe-modal-body__content">
                    <div class="fe-modal-form-error-content-wrapper"></div>
                </div>
                </div>
            </div>
            <div class="fe-modal-footer">
                <p class="fe-text-right"><a class="fe-modal-footer__close fe-button fe-modal-toggle-fe-form-error">Close</a></p>
                <p>
                </p>
            </div>
        </div>
    </div>
    </div>
</div>